---
import route from "../data/route.json";
import site from "../data/site.json"
import TopLayout from "../layouts/TopLayout.astro";
---

<TopLayout title={site.meta.title}>
  <div class="post-list">
    {
      route["pages"].map((page)=>{
        const text = page.title;
        const path = page.path;
        return (
          <div class="post">
            <a class="post__link" href={`/code/${path}/`}>
              <img class="post__img" src={`/images/code/${path}.png`} alt={text} width="800" height="800" decoding="async" />
            </a>
            <p class="post__label"><span class="post__text">{text}</span></p>
          </div>
        )
      })
    }
  </div>
</TopLayout>
<style>
  .post-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 2rem 1rem;
    max-width: 64rem;
    margin: 0 auto;
  }

  .post {
    position: relative;
  }
  .post__link {
    position: relative;
    display: grid;
    place-items: center;
    aspect-ratio: 1/1;
    padding: 0.5rem;
    background-color: var(--color-card-bg);
    color: var(--color-card-headline);
    font-weight: bold;
    text-align: center;
    transition: all .2s ease-out;
  }
  @media (hover: hover){
    .post__link:hover {
      transform: scale(1.05);
      box-shadow: 0px 4px 12px -8px rgba(0,0,0,0.6);
    }
  }
  .post__img {
    width: 100%;
    height: auto;
  }
  .post__label {
    margin-top: 1rem;
    font-weight: 600;
    text-align: center;
  }
  .post__text {
    display: inline-block;
    text-align: left;
  }
</style>